<%= form_with(model: jerry, local: true) do |form| %>
  <% if jerry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jerry.errors.count, "error") %> prohibited this jerry from being saved:</h2>

      <ul>
      <% jerry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :jerry_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :jerry_description %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, id: :jerry_picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
